---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <ul>
    <li>
      <a href="">Tipos de datos</a>
    </li>
  </ul>
  <a href="/blog/">
    <button>Volver</button>
  </a>
</BaseLayout>