---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter: {title, description, link} } = Astro.props;
---
<BaseLayout>
  <h1>{title}</h1>
  {description && <p><b>Descripción</b>: {description}</p>}
  {link && <p><b>Link</b>: <a href={link} target="_blank" style="margin-bottom: 1rem;">{title}</a></p>}
  <slot />
</BaseLayout>